# Mac OS
.DS_Store

# Node / Frontend
node_modules
.next
out
build
.env
.env.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
coverage/

# IDE
.vscode/
.idea/

# Custom
.silinecekler_cop_kutusu/

# Uploads (avatarlar vb.)
app/backend/uploads/*
!app/backend/uploads/.gitkeep

# Database
*.db
*.sqlite3
